.screen {
  // height: 110px;
  min-height: 110px;
  width: 340px;
  margin-bottom: 1.5px;
  // padding: 2px; 
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;


  font-size: 80px;
  color: white;

  padding: 10px;
  background-color: rgb(91 82 82);
  
  word-wrap: break-word;
}

.screen input {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: "",
}